<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            CRUD Operations
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>last Name</th>
                  <th>Email</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><button class="btn btn-success" (click)="viewOpenModal(addRow);">Add Row</button></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let td of json">
                  <td>{{td.firstName}}</td>
                  <td>{{td.lastName}}</td>
                  <td>{{td.email}}</td>
                  <td><button class="btn  btn-sm btn-info" (click)="view(td); viewOpenModal(viewdata);">View</button></td>
                  <td><button class="btn btn-sm btn-secondary" (click)="update(td); viewOpenModal(updatedata);">Update</button></td>
                  <td><button class="btn btn-sm btn-danger" (click)="delete(td); ">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer text-muted">
            Footer Data
          </div>
        </div>
        <ng-template #viewdata>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Selected Row data</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <tr>
                <td>{{dataview.firstName}}</td>
                <td>{{dataview.lastName}}</td>
                <td>{{dataview.email}}</td>
              </tr>
            </table>
          </div>
        </ng-template>
        <ng-template #updatedata>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Selected Row data</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover table-responsive">
              <tr>
                <td><input type="text" [(ngModel)]="updateview.firstName"></td>
                <td><input type="text" [(ngModel)]="updateview.lastName"></td>
                <td><input type="text" [(ngModel)]="updateview.email"></td>
                <td></td>
                <td><button class=  "btn btn-success btn-sm" (click)="modalRef.hide(); swalAlt(updateview);">Update
                    Row</button></td>
              </tr>
            </table>
          </div>
        </ng-template>
        <ng-template #addRow>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Add a Row</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <td>First Name</td>
                  <td>Last Name</td>
                  <td>Email</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" [(ngModel)]="add.firstName"></td>
                  <td><input type="text" [(ngModel)]="add.lastName"></td>
                  <td><input type="text" [(ngModel)]="add.email"></td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <button class="btn btn-info btn-sm float-center" (click)="addrow(add); modalRef.hide();">Add
                Row</button>
            </div>
          </div>
        </ng-template>

        <ng-template>
          <div class="modal-header">
            Please Login to Page
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
